<br />

<div fxLayout="row wrap" fxLayoutAlign="start center">
  <div fxFlex="30">
    <img src="../../../assets/stickies.jpg" alt="Too Many Sticky Notes" height="250px" width="400px"/>
  </div>
  <div fxFlex class="about-content">
    <h1 class="blue">We help get you organized!</h1>
    <p>
      In today’s fast-paced world, it’s easy to get lost in all of the tasks that we need to accomplish day in and day out. Whether it’s for work or study, a chore at home, a plan with the family, or even “me time”, all these compete for our attention. Sometimes with a long list of to-do’s it can be daunting to know which ones we would need to tackle first. Without proper planning, this can lead us to dedicate time to lesser important tasks instead of focusing on what really needs our attention.
    </p>
  </div>
</div>
<br />
<br />
<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>
    <h1 class="blue">It doesn't have to be hard.</h1>
    <p>
      FOCUS is what we need to truly productive.  But how?
      NodeBucket helps you stay focused on the tasks that matter most to you and get better control of the work that takes up your time.
    </p>
  </div>

  <div fxFlex="45">
    <img src="../../../assets/organized.jpg" alt="Too Many Sticky Notes" height="300px" width="600px"/>
  </div>
</div>
