.main-container {
  height: 100vh;
}
/*   .navbar-container {
    padding: 5px;
  } */

  .navbar-link {
    font-size: 24px;
    font-weight: lighter;
  }

  .main-content {
    padding-left: 30px;
  }

  .footer-container{
    max-height: 65px;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  .footer {
    bottom: 0;
    width: 100%;
  }

  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 3px;
  }

  .footer-text {
    width: 45%;
    margin: 0 auto;
  }
  .bu-link {
    text-decoration: none;
  }

  .bu-link:hover {
    text-decoration: underline;
  }
