<div fxLayout="column" fxLayoutAlign="space-between stretch" class="main-container">
  <div fxFlex="15" class="nav-container">
    <nav>
      <mat-toolbar color="primary">
        <!-- navbar container -->
        <div class="navbar-container" fxFlex>
          <!-- logo -->
            <img class="logo" routerLink="/" src="../../../assets/Sticky-Note-02-Green 1 (1).png" height="55" style="margin-top: 5px;"/>


          <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" routerLink="/about" mat-button>About</button>
          <button class="navbar-link" mat-button routerLink="/contact">Contact</button>
          <button class="navbar-link" mat-button (click)="logout()">Logout</button>
        </div>

      </mat-toolbar>
    </nav>
  </div>
  <!-- main content -->
  <div fxFlex="75">
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>

    <!-- footer -->
  <div fxFlex="10" class="footer-container">
    <footer class="footer">
      <mat-toolbar class="footer-content" color="primary">
            <p class="footer-text">
              &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
            </p>
      </mat-toolbar>
    </footer>
  </div>

  </div>
